Makefile
*.in
autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
.deps/
/ylwrap
/aclocal.m4
stamp-h1

*.o
m4
autotools
/config.guess
/config.sub
/libtool
/ltmain.sh
